:root {
    --darker-blue: #25252e;
    --dark-blue: #2b2d36;
    --blue: rgb(112,146,190);
    --light-blue: #7b8eb0;
    --lighter-blue: #92A8D1;
}

* {
    margin: 0; 
    padding: 0;
}

header {
    width: 100%;
    height: 100px;
    background: var(--dark-blue);
    position: relative;
}

header h1, header select, header i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
}

header h1 {
    left: 25px;
    font-size: 22.5px;
}

select, select:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-shadow: none;
    right: 40px;
    background: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-style: italic;
    padding: 10px;
    font-size: 22.5px;
}

select option {
    color: var(--dark-blue);
    background: white;
}

i {
    font-size: 15px;
    right: 25px;
}

main {
    width: 100%;
    height: calc(100vh - 100px);
}

.elements {
    width: 90%;
    height: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.element {
    background: var(--blue);
    margin: 0 1px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.control-panel {
    display: flex;
    flex-direction: column;
    width: 300px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}

.control-panel h4 {
    margin: 0;
}

.control-panel input {
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

.control-panel .range {
    appearance: none;
    background: whitesmoke;
}

.control-panel .speed {
    -ms-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.control-panel .range::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
  }

.control-panel .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--blue);
    margin-top: -2px;
    cursor: pointer;
    outline: 0;
    border: 0;
  }

.control-panel .button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    border: 0;
    color: white;
    padding: 10px 0;
    text-transform: uppercase;
    transition: .2s;
    background: var(--blue);
}

.completed {
    position: absolute;
    top: 50%; 
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    color: var(--blue);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 1px solid var(--blue);
    font-size: 25px;
    text-align: center;
    box-shadow: 0 0 0 1000px rgb(0 0 0 / 30%);
}

.reset-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    padding: 5px 20px;
    margin-top: 20px;
    outline: 0;
    border: 0;
    color: white;
    padding: 15px 50px;
    text-transform: uppercase;
    transition: .2s;
    background: var(--blue);
    cursor: pointer;
}